/* MULTIS */
body,
.header,
ul,
.intro,
.desc,
.middle,
.boxes,
.box,
.quote,
.contact,
.ask,
.footer {
    display: flex;
    /* border: 2px solid red; */
}

body,
.desc,
.middle,
.box,
.ask,
.quote {
    flex-direction: column;
}

.header,
.intro,
.footer,
button {
    background-color: #1F2937;
    color: white;
}

button,
.contact {
    background-color: #3882F6;
}

/* HEADER */
#h-logo {
    font-size: 24px;
    columns: #F9FAF8;
    padding: 0 20px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    gap: 20px;
    padding-right: 30px;
}

li {
    color: #E5E7EB;
    font-size: 18px;
}

/* DESCRIPTION */
.desc {
    padding: 20px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

#hero {
    max-width:600px;
}

/* MIDDLE */
/* PLACEHOLDER BOX */
.ph {
    border: solid 2px brown;
    height: 50px;
    width: 50px;
}

/* QUOTE */

/* CONTACT */


/* FOOTER */
.footer {
    justify-content: center;
}