@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Jost', sans-serif;
}


body,
.header,
ul,
.intro,
.desc,
.hero-div,
.middle,
.boxes,
.box,
.quote,
.contact,
.ask,
.footer,
.contact-content,
.right-contact {
    display: flex;
    /* border: 2px solid red; */
}

body,
.desc,
.middle,
.box,
.ask,
.quote,
.right-contact {
    flex-direction: column;
}

.middle,
.box,
.quote {
    /* border: 2px solid red; */
    align-items: center;
}

.intro,
.contact,
.right-contact,
.middle,
.quote, 
.footer {
    justify-content: center;
}

.header,
.intro,
.footer,
button {
    background-color: #002206;
    /* background-color: #1F2937; */
    color: white;
}

button,
.blue,
.right-contact {
    background-color: #3882F6;
}

.middle,
.quote {
    flex: 3;
}

.contact {
    flex: 1
}

/* HEADER */
#h-logo {
    font-family: 'Nabla', cursive;
    font-size: 60px;
    columns: #F9FAF8;
    padding: 0 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-top: 30px;
    gap: 20px;
    padding-right: 50px;
}

li {
    color: #E5E7EB;
    font-size: 18px;
}

/* DESCRIPTION */
.desc {
    padding: 20px 80px;
    max-width: 450px;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 70px;
    color: #F9FAF8;
    font-weight: 200px;
    margin: 20px 0px;
}

#top-button {
    max-width: 100px;
    height: 30px;
    border-radius: 10px;
}

#hero {
    width:500px;
    height: fit-content;
    margin-right: 30px;
    margin-bottom: 50px;
    /* border: 2px solid red; */
    border-radius: 20px;
    margin-top: 50px;
}

/* MIDDLE */
.middle {
    padding: 80px;
}

.middle > h2 {
    font-size: 36px;
    color: #1F2937;
}

.boxes {
    gap: 40px;
}

.ph {
    border: solid 2px black;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

/* QUOTE */
.quote {
    background-color: #E5E7EB;
    padding: 80px;
    background-image: url("./images/unused/Ravi4\ 2.JPG");
    /* background-size: cover; */
}

#lyric {
    font-size: 36px;
    font-style: italic;
    color: #c4a5f7;
    max-width: 700px;
}


/* CONTACT */
.contact {
    padding: 20px;
}

.contact-content {
    width: 750px;
}

.blue,
.right-contact {
    flex: 1;
}

.blue {
    border-radius: 10px 0px 0px 10px;
    /* border-bottom-left-radius: 10px; */
}

.right-contact {
    border-radius: 0px 10px 10px 0px;
}

.ask {
    padding: 20px;
    color: white;
}

.ask > h3 {
    margin-bottom: 0px;
}

.right-contact {
    padding: 40px;
}

#bot-button {
    max-width: 100px;
    max-height: 30px;
    padding: 10px;
    padding-bottom: 24px;
    border-radius: 10px;
    border-color: white;
    margin-left: auto;
}

/* FOOTER */
